* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b1320;
  color: white;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
  background: #050a12;
}

header h1 {
  color: #d4af37;
  font-size: 28px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  min-height: 80vh;
  padding: 100px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:
  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
  url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c");
  background-size: cover;
  background-position: center;
}

.hero h2 {
  font-size: 48px;
  max-width: 700px;
}

.hero p {
  max-width: 600px;
  margin: 20px 0;
  font-size: 18px;
}

button {
  background: #d4af37;
  color: black;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

section {
  padding: 70px 8%;
}

.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: #111c2e;
  padding: 25px;
  border-radius: 15px;
  flex: 1;
  min-width: 250px;
}

.card h3 {
  color: #d4af37;
  margin-bottom: 10px;
}

.card button {
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 15px;
}

input, textarea {
  padding: 15px;
  border-radius: 5px;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #050a12;
}